<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self'"
        />
        <meta name="description" content="<%= locals.description %>" />
        <title><%= locals.title %></title>
        <!-- FAVICON -->
        <link rel="icon" href="../img/favicon.ico" />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <!-- START HEADER -->
        <%- include('partials/header_dashboard') %>
        <!-- END HEADER -->

        <!-- START MAIN -->
        <main class="mainEdit grid">
            <section>
                <div>
                    <h1>Notiz Details</h1>
                    <button type="button" id="btnDelete">Löschen</button>
                    <!-- <a href="/delete-note/<%= foundNote.id %>">Löschen</a> -->
                </div>
                <form>
                    <input
                        value="<%= foundNote.id %>"
                        id="id"
                        name="id"
                        hidden
                    />
                    <input
                        type="text"
                        name="titel"
                        id="titel"
                        required
                        value="<%= foundNote.titel %>"
                    />
                    <textarea
                        name="description"
                        cols="30"
                        rows="14"
                        id="description"
                        required
                    >
<%= foundNote.description %></textarea
                    >
                    <button type="submit">Bearbeiten</button>
                    <a href="/dashboard">Abbrechen</a>
                </form>
            </section>
        </main>
        <!-- END MAIN -->

        <!-- START FOOTER -->
        <%- include('partials/footer') %>
        <!-- END FOOTER -->

        <!-- JS LINK -->
        <script src="../js/headerAnimation.js"></script>
        <script src="../js/notes/editNote.js"></script>
    </body>
</html>
