<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
        <meta name="description" content="<%= locals.description %>" />
        <title><%= locals.title %></title>
        <!-- FAVICON -->
        <link rel="icon" href="/img/favicon.ico" />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <!-- START HEADER -->
        <%- include('partials/header_dashboard') %>
        <!-- END HEADER -->

        <!-- START MAIN -->
        <main class="mainEdit grid">
            <section>
                <div>
                    <h1>Notiz Details</h1>
                  <div id="openModal">
                      <button type="button" class="remover">Löschen</button>
                      <svg height="1.5em" class="trash" viewBox="0 0 448 512"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
                  </div>
                </div>
                <form>
                    <input value="<%= foundNote.id %>" id="id" name="id" hidden />
                    <div class="categories">
                        <select name="category">
                            <option value="hohe" <%= foundNote.category === 'hohe' ? 'selected' : '' %> >hohe Priorität</option>
                            <option value="mittlere" <%= foundNote.category === 'mittlere' ? 'selected' : '' %> >mittlere Priorität</option>
                            <option value="niedrige" <%= foundNote.category === 'niedrige' ? 'selected' : '' %> >niedrige Priorität</option>
                        </select>
                    </div>
                    <input type="text" name="titel" id="titel" required value="<%= foundNote.titel %>" />
                    <textarea name="description" cols="30" rows="14" id="description" required><%= foundNote.description %></textarea>                    
                    <div class="btnGroup">
                        <a href="/dashboard">Abbrechen</a>
                        <button type="submit">Bearbeiten</button>
                    </div>
                </form>
            </section>
        </main>
        <!-- END MAIN -->

        <!-- START FOOTER -->
        <%- include('partials/footer') %>
        <!-- END FOOTER -->

        <!-- JS LINK -->
        <script src="/js/headerAnimation.js"></script>
        <script src="/js/notes/editNote.js"></script>
    </body>
</html>
