<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self'"
        />
        <title>Willkommen | Noti</title>
        <!-- FAVICON -->
        <link rel="icon" href="img/favicon.ico" />
        <!-- LINK CSS -->
        <link rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
        <!-- START HEADER -->
        <%- include('partials/header_dashboard') %>
        <!-- END HEADER -->

        <!-- START MAIN -->
        <main class="mainHome grid">
            <div class="servus">
                <h2>Servus <span id="userName"></span></h2>
            </div>
            <!-- <section class="createNote">
                <figure>
                    <img src="../img/notiz.svg" alt="note image" />
                </figure>
                <h1>Erstelle deine erste Notiz</h1>
                <p>Klicke <a href="newNote.html">here</a> um loszulegen.</p>
            </section> -->

            <% if(notes.length > 0){ for (let i = 0; i < notes.length; i++) { %>
            <a href="/client/item/<%= notes[i].id %>">
                <div class="note">
                    <h2><%=notes[i].title %></h2>
                    <p><%=notes[i].body %></p>
                </div>
            </a>
            <% }} else { %>
            <section class="createNote">
                <figure>
                    <img src="../img/notiz.svg" alt="note image" />
                </figure>
                <h1>Erstelle deine erste Notiz</h1>
                <p>Klicke <a href="/client/dashboard/add">here</a> um loszulegen.</p>
            </section>
            <% } %>
        </main>
        <!-- END MAIN -->

        <!-- START FOOTER -->
        <%- include('partials/footer') %>
        <!-- END FOOTER -->

        <!-- JS LINK -->
        <script src="../js/headerAnimation.js"></script>
        <!-- <script src="../js/users/home.js"></script> -->
    </body>
</html>
